body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #ff0000, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #ffffff;
}

.container {
  text-align: center;
  background: rgb(143, 0, 0);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background: #3eb2ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #1e9c78;
}

.result {
  margin-top: 20px;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.result.show {
  opacity: 1;
}
